!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stepoff
  %body
    = link_to "Students", students_path

    %hr
    // FORM TEST
    = form_tag attendances_path, method: :get do
      = select_date
      = submit_tag 'View Attendance'

    %p.notice= notice
    %p.alert= alert
    = yield

